alembic
apispec
blinker
click
Flask
Flask-JWT-Extended
Flask-Migrate
flask-smorest
Flask-SQLAlchemy
gunicorn
itsdangerous
Jinja2
Mako
MarkupSafe
marshmallow
packaging
passlib
psycopg2
PyJWT
python-dotenv
SQLAlchemy
typing_extensions
webargs
Werkzeug
